@import 'theme.css';

.wy-table-responsive table td, .wy-table-responsive table th {
	white-space: normal;
	vertical-align: top;
}

.caption-text {
	    text-align: left;
}

.wy-table-responsive {
	margin-bottom: 24px;
	max-width: 100%;
	overflow: visible;
}
